/**
 * @name Sqyrl
 * @author SERISET
 * @version 1.0.0
 * @description A theme made for vertical screens that saves space by putting the server list in the titlebar.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

:root {
  --server-bar-height: 56px;

  --accent: #327391;
  --primary-background: #171A1F;
  --secondary-background: #131519;
  --tertiary-background: #181b22;
  
  --card: #1d2229;
  --card-hover: #252b36;

  --message: var(--card);
  --message-hover: var(--card-hover);
  --message-replying: #03304A;
  --message-replying-hover: #05355A;
  --message-mentionned: #0A2735;
  --message-mentionned-hover: #0B2C40;

  --transition-background: background-color 0.2s linear;
}

/* Cutomisations specific to MacOS */
.platform-osx {
  /* Space on the left for native MacOS buttons */
  .guilds_c48ade {
    left: 80px;
    width: calc(100vw - 96px) !important;

    /* Add padding at the end of the list */
    .tutorialContainer__650eb {
       padding-right: var(--space-xs);
    }
  }

  /* Allow drag in the section where are the native MacOS buttons */
  .sidebarList_c48ade {
    -webkit-app-region: drag !important;

    nav {
      -webkit-app-region: no-drag;
    }
  }
}

/* Remove crap */
.toolbar__9293f > .iconDisabled__9293f,
.buttons__74017 > button:first-child,
.buttons__74017 > div:nth-child(3),
.buttons__74017 > div:nth-child(4) {
  display: none;
}

/* Text color */
body {
  font-family: var("Roboto");
}

/* Give a more native feel */
div:not(.sidebarResizeHandle_c48ade), a {
  cursor: default !important;
}

/* Base view */
.visual-refresh .base_c48ade {
  /* Titlebar without height */
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

/* Title bar */
.bar_c38106 {
  background-color: var(--bg-base-tertiary);;
  height: var(--server-bar-height);

  /* Remove title */
  .title_c38106 {
    display: none;
  }

  /* Buttons at the end of title bar */
  .trailing_c38106 {
    position: absolute;
    right: 0;

    .winButton_c38106 {
      width: 36px;
      height: var(--server-bar-height);
    }

    /* New notifications, help, seperator */
    a, .recentsIcon_c99c29, ::before {
      display: none;
    }
  }
}

/* App */
.content_c48ade {
  /* Servers and channels */
  .sidebar_c48ade {
    overflow: visible;

    /* Hide the scrollbar */
    ::-webkit-scrollbar {
      display: none;
    }

    /* Servers container */
    .guilds_c48ade {
      -webkit-app-region: no-drag;
      position: absolute;
      z-index: 1;
      width: calc(100vw - (var(--server-bar-height) * 3 + 36px));
      max-width: fit-content;
      overflow-x: auto;
      padding-left: 16px;
      
      /* Unread pill */
      .unreadMentionsBar_ef3116 {
        display: none;
      }

      /* Remove discover servers */
      .scroller_ef3116 > .listItem__650eb:nth-last-child(2) {
        display: none;
      }

      /* Sublists */
      .stack_dbd263 {
        flex-direction: row;
        width: fit-content;
        height: var(--server-bar-height);
        column-gap: 16px !important;
        padding-bottom: 0;

        /* Separator between DMs and servers */
        #guild-list-unread-dms:not(:has(.listItem__650eb)),
        .listItem__650eb:has(.guildSeparator__252b6) {
          display: none;
        }

        /* DMs */
        #guild-list-unread-dms {
          align-items: center;

          /* Unread pill */
          .pill_ed9a5f {
            transform: rotate(90deg) translate(-22px, -16px);
          } 
        }

        /* Server */
        .listItem__650eb, .tutorialContainer__650eb, .tutorialContainer__1f388, .wrapper__48112 {
          margin: auto;
          width: fit-content;
          flex-direction: column;

          /* Pill indicating notification or current selection */
          .pill__1f388, .pill_e5445c {
            top: -6px;
            width: 40px;
            height: 2px;
            display: flex;
            justify-content: center;

            .item__58105 {
              transform: rotate(0.25turn) !important;
            }
          }
        }

        /* Server folder */
        .folderGroup__48112 {
          display: flex;
          width: fit-content;
          align-items: center;

          /* Colored background */
          .folderGroupBackground__48112 {
            width: calc(100% + 4px);
            margin: 4px 0;
            left: 0;
          }

          .folderIcon__48112 {
            margin: 0;
          }

          /* Items of the folder */
          ul {
            align-items: center;
            width: fit-content;
            height: 48px !important;
            margin-left: var(--space-xs);
          }
        }
      }
    }

    /* Channels and convos */
    .sidebarList_c48ade {
      -webkit-app-region: no-drag;
      overflow: visible;
      position: relative;
      border: none;
      width: var(--custom-guild-sidebar-width);
      padding-top: var(--server-bar-height);

      nav {
        background-color: var(--primary-background);

        /* Search bar */
        .searchBar__35e86 {
          border-top: 1px solid var(--border-subtle);
          
          /* Placeholder text */
          .contents__201d5 {
            font-size: 13px;
          }
        }

        /* Channels, private messages */
        .scroller__629e4, .scroller__99e7c {
          background-color: var(--primary-background);
          margin-right: 6px;
        }

        /* Header */
        .container_f37cb1  {
          border-top: 1px solid var(--border-subtle);
        }

        /* Remove boost */
        .container_eff079 {
          display: none;
        }
      }
    }

    /* Resize bar */
    .sidebarResizeHandle_c48ade {
      margin-top: var(--server-bar-height);
    }

    /* Profile */
    .panels_c48ade {
      background-color: var(--secondary-background);
    }
  }

  .sidebar_c48ade::after {
    display: none;
  }

  /* Main page */
  .page_c48ade {
    top: var(--server-bar-height);
    height: calc(100vh - var(--server-bar-height));

    /* Bar at the top of the messages */
    .title_f75fb0 {
      background-color: var(--primary-background);
    }

    /* Everything to the left of the channels */
    .chat_f75fb0 {
      border: none;
      background-color: var(--secondary-background);

      /* Action bar */
      .subtitleContainer_f75fb0 {
        border-top: 1px solid var(--border-subtle);
      }

      /* Chat */
      .chatContent_f75fb0 {
        padding-left: 16px;
        background-color: transparent;

        /* Above message input, under titlebar */
        .messagesWrapper__36d07 {

          /* New messages since */
          .newMessagesBar__0f481 {
            background-color: var(--accent);
            left: 0;
          }

          /* First message of group, if a message is either tagged as such preceded by a divider */
          .cozy_c19a55.groupStart__5126c,
          div + li > .cozy_c19a55 {
            margin-top: 10px;
            padding-top: 8px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          }

          /* Last message of group, followed by either a first message of a group, a highlighted message, a divider or last message of the conversation */
          :is(:has(+ li > .cozy_c19a55.groupStart__5126c), :has(+ .flash__03436 > li > .cozy_c19a55.groupStart__5126c), :has(+ .divider__5126c), :has(+ .scrollerSpacer__36d07)) > .cozy_c19a55 {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            padding-bottom: 10px;

            /* Reactions */
            .reactions__23977 {
              padding-bottom: 0;
            }
          }

          /* Mentionned or replying to */
          .cozy_c19a55:is(.mentioned__5126c, .replying__5126c) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }

          .flash__03436[data-flash="true"] > li {
            .message__5126c {
              background-color: var(--message-mentionned-hover) !important;  
            }

            .cozy_c19a55 {
              border-color: var(--accent);
            }
          } 
          
          /* Highlighted message when clicking on replied message */
          .flash__03436 {
            background-color: transparent;

            .cozy_c19a55 {
              border: 1px solid transparent;
              border-bottom-left-radius: 12px;
              border-bottom-right-radius: 12px;
            }
          }

          .message__5126c {
            border-radius: 0;
            background-color: var(--message);
            transition: var(--transition-background);

            /* Message accessories */
            /* Attachments, embeds, linked message, reaction, add reaction */
            .file__0ccae, .embedWrapper_b7e1cb, .container__9271d, .reaction__23977, .reactionBtn__23977 {
              background-color: var(--tertiary-background);
            }
          }

          .message__5126c:hover {
            background-color: var(--message-hover);
          }

          .message__5126c.mentioned__5126c {
            background-color: var(--message-mentionned);
          }

          .message__5126c.mentioned__5126c:hover {
            background-color: var(--message-mentionned-hover);
          }

          .message__5126c.replying__5126c {
            background-color: var(--message-replying);
          }

          .message__5126c.replying__5126c:hover {
            background-color: var(--message-replying-hover);
          }

          .message__5126c::before {
            background-color: var(--accent);
          }

          /* Divider */
          .divider__5126c {
            margin: 16px 0 16px 0;
          }
        }

        /* Message input */
        .form_f75fb0 {
          padding-left: 0;
          padding-right: 16px;

          /* Replying to */
          .stackedBars__74017 {
            background-color: var(--tertiary-background);
          }

          .scrollableContainer__74017 {
            background-color: var(--primary-background);
          }
        }
      }

      /* Members */
      .container_c8ffbb {
        border: none;

        .members_c8ffbb {
          background-color: var(--primary-background);

          .member__5d473 {
            background-color: var(--card);
            transition: var(--transition-background);
            margin: 4px 2px 4px 6px;
            
            .memberInner__5d473 {
              padding: 4px 0px 4px 2px;
            }
          }

          .member__5d473:hover {
            background-color: var(--card-hover);
          }
        }
      }
    }

    /* Friends */
    .container__133bf {
      border-top: none;

      /* Action bar */
      .container__9293f {
        border-top: 1px solid var(--border-subtle);
        background-color: var(--primary-background);

        /* Gradient at the end of items */
        .children__9293f::after {
          display: none;
        }
      }

      .tabBody__133bf {
        background-color: var(--secondary-background);

        /* Friend */
        .peopleListItem_cc6179 {
          background-color: var(--card);
          transition: var(--transition-background);
          margin: 0 4px 6px 20px;
          padding: 0 24px;
          border-radius: 12px;
          border: none;
  
          .avatar__0a06e {
            margin: auto 12px auto 0;
          }
        }
  
        .peopleListItem_cc6179:hover {
          background-color: var(--card-hover);
        }
  
        /* Now playing */
        .container__7d20c {
          background-color: var(--primary-background);
  
          .scroller__7d20c {
            border: none;
            padding-bottom: 16px;
  
            /* Card */
            .itemCard__7e549 {
              background-color: var(--card);
              transition: var(--transition-background);
            }
  
            .itemCard__7e549:hover {
              background-color: var(--card-hover);
            }
          }
        }
      }
    }
  }
}

/* Image preview */
.carouselModal_d3a6f0 {
  margin-top: 64px;
}

/* Profile popup */
.outer_c0bea0:not(.custom-profile-theme) > .inner_c0bea0 {
  background-color: var(--tertiary-background);
}